<div class="mainPage">
  <div class="dFlex">
    <div class="img-title">
      <img src="assets/Screenshot 2022-03-15 204058.png" alt="" class="img-c" />
      <div class="text-seq">
        <span class="text-c"> {{ jobDetails['jobTitle'] }} </span>
        <span class="text-c2"> {{ jobDetails['company'] }} </span>
        <span style="font-size: 12px"> TODO day ago | TODO Applicants</span>
        <span style="font-size: 13px"
          ><span class="job">Job category &nbsp;*&nbsp; </span> {{ jobDetails['jobCategeory'] }}</span
        >
      </div>
    </div>
    <div class="buttonsDiv">
      <!-- <button > Apply now</button> -->
      <p class="btn btn-primary" style="border-radius: 10px" (click)="openDialog()">Apply now</p>
      <p class="btn-t-w">Massage</p>
      <p class="btn-btn-li" (click)="addToSaveList(jobDetails['id'])">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-bookmark"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
          />
        </svg>
      </p>

      <p class="btn-btn-li">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-share"
          viewBox="0 0 16 16"
        >
          <path
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
          />
        </svg>
      </p>
    </div>
  </div>
  <div class="title-div">
    <div>
      <span class="t-e"> Location</span>
      <span class="bold-t"> {{ jobDetails['location'] }} </span>
    </div>

    <div>
      <span class="t-e"> Start Date</span>
      <span class="bold-t"> {{ jobDetails['startDate'] }} </span>
    </div>

    <div>
      <span class="t-e"> Employee Type</span>
      <span class="bold-t"> Minimum {{ jobDetails['minExperiance'] }} year </span>
    </div>

    <div>
      <span class="t-e"> Stipend</span>
      <span class="bold-t"> TODO / Month </span>
    </div>

    <div>
      <span class="t-e"> Duration</span>
      <span class="bold-t"> {{ jobDetails['duration'] }}</span>
    </div>
  </div>
  <hr style="color: rgb(192, 192, 192)" />
  <p class="or margin-top">Overview</p>
  <p>{{ jobDetails['jobDescription'] }}
  </p>
  <p class="or margin-top">Job Description</p>
  <div style="padding-left: 20px">
    <div class="form-check">
      {{ jobDetails['jobDescription'] }} 
    </div>
   
  </div>
</div>