<div class="p-2" style="width: 100%;">
    <div class="inline" (click)="selectUser(comment.userId)">
        <img class="profile" [src]="comment.profilePicture"> &nbsp;
        <div>
            <h6>{{comment.username}}</h6>
            <label>{{comment.title}}</label>
        </div>

    </div>
    <div style="float: right; color: darkgray; font-size: 10px;">
        {{comment.date | date: 'dd-MMM-yyyy'}}<br />
        {{comment.time}}<br />
    </div>
    <div class="comment-align">
        <pre class="break-line">{{comment.description}}</pre>
    </div>
</div>