.inline {
  display: inline-flex;
  cursor: pointer;
}
h6 {
  margin-bottom: 0px !important;
  font-size: 1.2rem;
}
.comment-align {
  padding-left: 5rem;
}
.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.fa-trash {
  color: rgba(92, 57, 57, 0.433);
  font-size: 13px !important;
}
.fa-trash:hover {
  color: rgb(167, 44, 44);
  font-size: 15px !important;
  transition: 0.8ms all;
}
