.card-header {
  display: inline-flex;
  .head {
    flex: 1;
  }
  .view {
    color: var(--primary);
    font-weight: bold;
  }
}
li {
  padding: 5px 5px 5px 5px !important;
}
.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #ffff;
}
