<div class="card">
    <div class="card-header">
        <h6 class="head">Company Employee</h6>
        <label class="view pointer" routerLink="./employee" [queryParams]="{companyId:companyId}"
            routerLinkActive="active-link">View All</label>

    </div>
    <ul>
        <li *ngFor="let item of memberList">
            <a (click)="checkProfile(item.id)"><img class="profile"
                    [src]="item.profilePicture" />&nbsp;{{item.firstName}} {{item.lastName}}
                <b style="color:#293266 ;" *ngIf="item.userRole != null">({{item.userRole}})</b></a>
        </li>
    </ul>
</div>