<div class="card p-2">
    <div class="text-center">
        <ul class="inline" style="border-bottom: 1px solid darkgray;">
            <li (click)="selectType(1)" [ngClass]="type==1?'selected':null"><i class="fa fa-pencil-square-o"></i>
                &nbsp;Share Post</li>
            <li (click)="selectType(2)" [ngClass]="type==2?'selected':null"><i class="fa fa-bar-chart"></i>&nbsp;Updates
            </li>
            <li (click)="selectType(3)" [ngClass]="type==3?'selected':null"><i class="fa fa-file-text-o"></i>&nbsp;Ask
                Question</li>
        </ul>
    </div>
    <div class="inline">
        <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
        <input type="text" class="form-control" (focus)="onOpenModel()" placeholder="Ask Something...">
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="inline">
                    <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
                    <div>
                        <h6 style="padding-top: 5px;">{{userInfo.firstName}}&nbsp;{{userInfo.lastName}}</h6>

                        <label>{{userInfo.headline}}</label>
                    </div>
                </div><br />
                <hr>
                <textarea rows="5" (click)="hide()" [(ngModel)]="description" #myTextArea
                    (keyup)="getCaretPos(myTextArea)" (click)="getCaretPos(myTextArea)"
                    placeholder=" What do you want to share?">
                </textarea>
                <emoji-mart [style]="{position:'absolute',top:'1rem',left:'4rem'}" (emojiSelect)="addEmoji($event)"
                    *ngIf="emojiToggled" set="google" sheetSize="32">
                </emoji-mart>
                <i class="fa fa-smile-o" style="color: darkgray; font-size: 20px;" (click)="toggleEmoji()"></i>
                <hr>
                <div class="btn-wrap">
                    <button class="btn btn-primary btn-sm img-btn-post" (click)="onSelectionTab(1)"><i
                            class="fa fa-picture-o">
                        </i> &nbsp; Image</button>
                </div>
                <input type="file" hidden accept="image/*" #imagePicker (change)="changeListener($event)" />
                <div class="post-img" *ngIf="postImage != undefined || postImage != null">
                    <img class="image_wrapper" [src]="postImage" /><span><i
                            *ngIf="postImage != undefined || postImage != null" (click)="removeImage(1)"
                            class="fa fa-remove fa-1x fab"></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isLoading" type="button" class="btn btn-primary" (click)="onNewPostAdd()">Share</button>
                <button *ngIf="isLoading" class="btn btn-primary"><i class="fa fa-spinner fa-spin"
                        aria-hidden="true"></i>
                    &nbsp;&nbsp;Loading...</button>

            </div>

        </div>
    </div>
</div>
<!-- ====================================== -->
<div class="modal fade" id="poleModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="userInfo.company_id != null">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="inline">
                    <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
                    <div>
                        <h6 style="padding-top: 5px;">{{userInfo.firstName}}&nbsp;{{userInfo.lastName}}</h6>
                        <label>{{userInfo.headline}}</label>
                        <div *ngIf="groupList.length > 0">
                            <select class="select-control" [(ngModel)]="selectedGroupId">
                                <option value="" hidden disabled selected>Select Group</option>
                                <option *ngFor="let item of groupList" [value]="item.id">{{item.groupName}}</option>
                            </select>
                        </div>
                        <small *ngIf=" selectedGroupId == '' " class="text-danger"> Please Select Group</small>
                    </div>
                </div><br />
                <hr>
                <textarea rows="5" [(ngModel)]="description" (click)="hide()" #myTextArea
                    (keyup)="getCaretPos(myTextArea)" (click)="getCaretPos(myTextArea)"
                    placeholder="What do you want to share?">
                </textarea>
                <i class="fa fa-smile-o" style="color: darkgray; font-size: 20px;" (click)="toggleEmoji()"></i>
                <emoji-mart [style]="{position:'absolute',top:'1rem',left:'4rem'}" (emojiSelect)="addEmoji($event)"
                    *ngIf="emojiToggled" set="google" sheetSize="32">
                </emoji-mart>
                <!-- <app-line-graph></app-line-graph> -->
                <hr>

                <div class="btn-wrap">
                    <button class="btn btn-primary btn-sm img-btn" (click)="onSelectionTab(1)"><i
                            class="fa fa-picture-o">
                        </i>&nbsp;Image</button>
                    <button (click)="onSelectionTab(2)" class="btn btn-primary btn-sm graph-btn"> <i
                            class="fa fa-bar-chart"></i> &nbsp; Graph</button>
                </div>
                <input type="file" hidden accept="image/*" #imagePicker (change)="changeListener($event)" />
                <div class="post-img" *ngIf="(postImage != undefined || postImage != null) && selectionTab == 1">
                    <img class="image_wrapper" [src]="postImage" /><span>
                        <i *ngIf="postImage != undefined || postImage != null" (click)="removeImage(1)"
                            class="fa fa-remove fa-1x fab"></i></span>
                </div>
                <div *ngIf="selectionTab == 2" style="text-align: center;">
                    <!-- <h5>Coming Soon...</h5> -->
                    <div style="display: inline-flex;">
                        <select class="select-control" [(ngModel)]="graphType">
                            <option value="" selected disabled hidden>Graph Type</option>
                            <option value="product launch">Week to product launch</option>
                            <option value="customers registered">No of customers registered</option>
                            <option value="Weekly Revenue">Weekly Revenue</option>
                            <option value="Weekly expenses">Weekly expenses</option>
                        </select>&nbsp;
                        <input [(ngModel)]="entity" type="number" style="text-align: right;" class="select-control"
                            placeholder="Entity">&nbsp;
                        <button (click)="onAddRecordGraph()" class="btn btn-primary add-button">Add Record</button>
                    </div>
                    <div>
                        <div *ngFor="let item of graphList">
                            <img class="image_wrapper" [src]="item.chartUrl" /><span>
                                <i *ngIf="item.chartName != undefined || item.chartName != null"
                                    (click)="removeGraph(item)" class="fa fa-remove fa-1x fab"></i>
                            </span>

                        </div>


                        <!-- For Single Graph -->
                        <!-- <div class="post-img" *ngIf="graphImage != undefined || graphImage != null">
                            <img class="image_wrapper" [src]="graphImage" /><span>
                                <i *ngIf="graphImage != undefined || graphImage != null" (click)="removeImage(2)"
                                    class="fa fa-remove fa-1x fab"></i></span>
                        </div> -->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button *ngIf="!isLoading" type=" button" class="btn btn-primary"
                    (click)="onNewPublishAdd(companyDetail?.id)"
                    [disabled]="description == '' || selectedGroupId == '' ">Post Update</button>
                <button *ngIf="isLoading" class="btn btn-primary"><i class="fa fa-spinner fa-spin"
                        aria-hidden="true"></i>
                    &nbsp;&nbsp;Loading...</button>
            </div>

        </div>
        <div class="modal-content" *ngIf="userInfo.company_id == null">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>You Don't Have company</h4>
            </div>

        </div>
    </div>
</div>
<!-- selection Model -->
<div class="modal fade" id="accountModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm accountModel" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="inline account" (click)="onNewPublishAdd()">
                    <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
                    <div>
                        <h6 style="padding-top: 5px;">{{userInfo?.firstName}}&nbsp;{{userInfo?.lastName}}</h6>
                    </div>
                </div><br />
                <hr>
                <div class="inline account" (click)="onNewPublishAdd(companyDetail?.id)">
                    <img class="profile" [src]="companyDetail?.logo" /> &nbsp;
                    <div>
                        <h6 style="padding-top: 5px;">{{companyDetail?.name}}</h6>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="questionModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ask new question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img style="height: 45vh;" src="assets/img/askqt.gif" />
                    <h2 class="text-primary"><i>Coming Soon....!</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>