<div class="main"> 
    <p style="text-align: right;"><i class="fa fa-times" aria-hidden="true"></i></p>
  
<div class="content" style="text-align: center;height: 88%;margin: 0 auto;"> 
    <span class="text-p">"Congratulations on Activating this perk. You are working in the right direction by saving crucial funds for your startup. Please check your email inbox for next steps in claiming this perk. Please note - the perks are only offered to 'Verified' startups. That is, your startup must have a '' <br><br> (verification badge) next to the name on company profile page. Contact support if you do not have this badge."</span>
</div>
</div>