.main {
    max-width: 600px;
    // height: 360px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 30px 30px  60px 30px ; 

    opacity: 1;
  }
  
  .text-p {
    width: 435px;
    // height: 202px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #44444F;
    opacity: 1;
  }
  
  .content {
    width: 435px;
    height: 202px
  }