<div class="card">
    <ul>
        <li [routerLink]="['/profile/connections']" [queryParams]="{ visit: userId}">
            <label class="li-label">Connection</label> &nbsp;<span class="count">{{networkCount}}</span>
        </li>
        <hr>
        <li [routerLink]="['./follow']">
            <label class="li-label">Followers</label>
            &nbsp;<span class="count">{{followersCount}}</span>
        </li>
        <hr>
        <!-- <li>
            <label class="li-label">Event</label> &nbsp;<span class="count"></span>
        </li> -->
    </ul>
</div>