.li-label {
  font-weight: bold;
  color: rgb(148, 147, 147);
}
li:hover {
  background-color: rgba(233, 230, 230, 0.637);
  cursor: pointer;
}
.count {
  font-weight: bold;
  color: var(--primary);
  float: right;
  padding: 3px;
}
hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
