.deleteIcon {
  position: absolute;
  right: 5%;
}
li {
  padding: 0px 5px 5px 15px !important;
}
.fab-add {
  padding: 11px;
  border: 1px solid;
  border-radius: 32%;
  font-weight: bold;
  background: #293266;
  color: white;
  cursor: pointer;
}
