.cursor-pointer{
    cursor: pointer;
}
#upload-from-wrapper{
    background-color: #fafeff;
    border: dashed 1px#d7e1e6;
    border-radius: 5px;
    
    .custom-r-brd{
      border-right: 1px #c9cccc solid;
    }
    .text{
        @media screen and (max-width : 767px) {
            font-size: 11px;
        }
    }
    #demo-file{        
        .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
      }
      .icon{
          img{
            @media screen and (max-width : 767px) {
                margin: 0.5rem 0.5rem !important;
            }
          }
      }
  }

  #upload-from-wrapper.droparea {
    border: dashed 2px#d7e1e6;
}
.exela-primary-btn{
    background-color: #a51172!important;
    color: #fff!important;
    text-transform: uppercase !important;
  }
  
  .exela-primary-btn:hover{
    background-color: #a51172!important;
    color: #fff!important;
  }
  
  .exela-primary-btn:disabled{
    background-color: #f4f4f4!important;
    color:#888888!important;
  }
  .exela-btn{
box-shadow: none!important;
display: flex!important;
align-content: center!important;
justify-content: center!important;
align-items: center!important;
text-transform: uppercase!important;;
}
#demo-file{        
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  .icon{
      img{
        @media screen and (max-width : 767px) {
            margin: 0.5rem 0.5rem !important;
        }
      }
  }
