<!-- <header>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary nav-custom">
            <a routerLink="/home" routerLinkActive="router-link-active"><img src="assets/img/bslogo2.png"></a>
            <div class="form-inline pl-2">
                <input class="form-control search" [(ngModel)]="keyWord" (focusout)="focusOut()" (keyup)="getList()"
                    type="search" placeholder="Search" aria-label="Search"><br />

            </div>
            <img class="profile d-block d-sm-none" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true"
                [src]="userInfo?.profilePicture">

            <div class="dropdown-menu pull-left" aria-labelledby="dropdownButton" style="padding: 10px;">
                <ul>
                    <li>
                        <button type="button" class="btn btn-block btn-outline-primary btn-sm"
                            (click)="GoToOwnerProfile()">View
                            Profile</button>
                    </li>

                    <hr>
                    <li *ngIf="userInfo?.company_id == null" (click)="goToNewCompany()">Create Company
                    </li>
                    <li *ngIf="userInfo?.company_id != null" (click)="goToMyCompany()">My Company
                    </li>
                    <hr>
                    <li *ngIf="userInfo?.typeOfUser == 2" (click)="goToInvestingPage()">Investor Dashboard
                    </li>
                    <hr>
                    <li (click)="goToPasswordChange()">Password Change</li>
                    <hr>
                    <li (click)="logOut()">Sign Out</li>
                </ul>
            </div>

            <div class="collapse navbar-collapse  d-none d-sm-block" id="navbarCollapse">
                <ul role="menu" class="navbar-nav ml-auto" id="navAccordion">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">
                            <i class="fa fa-home"></i><br>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mynetwork" routerLinkActive="active">
                            <i class="fa fa-users">
                                <span class="badge" *ngIf="requestCount > 0">{{requestCount}}</span>
                            </i><br>
                            <span>Network</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messaging" routerLinkActive="active">
                            <i class="fa fa-commenting"></i><br>
                            <span>Messaging</span>
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link perks" [routerLink]="['/perks']" routerLinkActive="active">
                            <i class="fa fa-suitcase"></i><br>
                            <span>Perks</span>
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link"
                            [routerLink]="userInfo?.company_id != null ? ['/jobs/job-list'] : ['/jobs/job-list']"
                            routerLinkActive="active">
                            <i class="fa fa-handshake-o"></i><br>
                            <span>Jobs</span>
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link"
                            [routerLink]="userInfo?.company_id != null ? ['/jobs/job-post'] : ['/jobs/job-post']"
                            routerLinkActive="active">
                            <i class="fa fa-handshake-o"></i><br>
                            <span>Post Job</span>
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link"
                            [routerLink]="userInfo?.company_id != null ? ['/jobs/job-apply'] : ['/jobs/job-apply']"
                            routerLinkActive="active">
                            <i class="fa fa-tasks" aria-hidden="true"></i><br>
                            <span>Application</span>
                        </a>
                    </li>

                    <li class="nav-item" class="dropdown">

                        <img class="profile" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true" [src]="userInfo?.profilePicture">

                        <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuButton"
                            style="padding: 10px;">
                            <div class="row">
                                <div class="col-12" style="display: flex;">
                                    <img id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true" [src]="userInfo?.profilePicture">&nbsp;
                                    <div class="pt-2" style="color:black">
                                        Me
                                    </div>
                                </div>
                                <div class="col-8">
                                </div>
                                <div class="col-12" style="text-align: center;">
                                    <button type="button" class="btn btn-block btn-outline-primary btn-sm"
                                        (click)="GoToOwnerProfile()">View Profile</button>
                                </div>
                            </div>
                            <hr>
                            <ul>
                                <li *ngIf="userInfo?.company_id == null" (click)="goToNewCompany()">Create Company
                                </li>
                                <li *ngIf="userInfo?.company_id != null" (click)="goToMyCompany()">My Company
                                </li>
                                <hr>
                                <li (click)="goToPasswordChange()">Password Change</li>
                                <hr>
                                <li *ngIf="userInfo?.typeOfUser == 2" (click)="goToInvestingPage()">Investor Dashboard
                                </li>
                                <hr *ngIf="userInfo?.typeOfUser == 2">
                                <li (click)="logOut()">Sign Out</li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
       
        <div class="d-block d-sm-none">
            <nav class="navbar fixed-bottom navbar-dark bg-dark text-center">

                <a class="nav-link bottom" routerLink="/home" routerLinkActive="active">
                    <i class="fa fa-home"></i><br>
                    <span>Home</span>
                </a>

                <a class="nav-link bottom" routerLink="/mynetwork" routerLinkActive="active">
                    <i class="fa fa-users">
                        <span class="badge" *ngIf="requestCount > 0">{{requestCount}}</span>
                    </i><br>
                    <span>Network</span>
                </a>
                <a class="nav-link bottom" routerLink="/messaging" routerLinkActive="active">
                    <i class="fa fa-envelope"></i><br>
                    <span>message</span>
                </a>
                <-- <a class="nav-link bottom" routerLink="/signin" routerLinkActive="active">
                <i class="fa fa-bell"></i><br>
                <span>Notification</span>
            </a> 
            </nav>
        </div>
    </section>
</header>
<div class="card position" *ngIf="isShow && userList.length > 0">
    <ul>
        <li *ngFor="let item of userList">
            <span *ngIf="item.companyId == null" style="display: flex; padding: 10px;" (click)="selectUser(item.id)">
                <img [src]="item.profile" class="profile" />&nbsp;
                <h6 class="pt-4">{{item.username}}&nbsp;&nbsp;<label>{{item.headline}}</label>
                </h6>
            </span>
            <span *ngIf="item.companyId != null" style="display: flex; padding: 10px;"
                (click)="goToCompany(item.companyId)">
                <img [src]="item.profile" class="company-profile" />&nbsp;
                <h6 class="pt-4">{{item.username}}&nbsp;&nbsp;<label>{{item.headline}}</label>
                </h6>
            </span>
            <hr>
        </li>
    </ul>
</div> -->


<header>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light navbarColor nav-custom">
            <a routerLink="/home" routerLinkActive="router-link-active">
                <img src="assets/img/bslogo_1.png"></a>
            <!-- <div class="form-inline pl-2">
                <input class="form-control search" [(ngModel)]="keyWord" (focusout)="focusOut()" (keyup)="getList()"
                    type="search" placeholder="Search" aria-label="Search"><br />
            </div> -->
            <img class="profile d-block d-sm-none" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true"
                [src]="userInfo?.profilePicture">

            <div class="dropdown-menu pull-left" aria-labelledby="dropdownButton" style="padding: 10px;">
                <ul>
                    <li>
                        <button type="button" class="btn btn-block btn-outline-primary btn-sm"
                            (click)="GoToOwnerProfile()">View
                            Profile</button>
                    </li>

                    <hr>
                    <li *ngIf="userInfo?.company_id == null" (click)="goToNewCompany()">Create Company
                    </li>
                    <li *ngIf="userInfo?.company_id != null" (click)="goToMyCompany()">My Company
                    </li>
                    <hr>
                    <li *ngIf="userInfo?.typeOfUser == 2" (click)="goToInvestingPage()">Investor Dashboard
                    </li>
                    <hr>
                    <li (click)="goToPasswordChange()">Password Change</li>
                    <hr>
                    <li (click)="logOut()">Sign Out</li>
                </ul>
            </div>

            <div class="collapse navbar-collapse  d-none d-sm-block" id="navbarCollapse">
                <ul role="menu" class="navbar-nav ml-auto" id="navAccordion">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">
                            <i class="fa fa-home"></i>
                            <span class="icon-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mynetwork" routerLinkActive="active">
                            <i class="fa fa-users">
                                <!-- <span class="badge" *ngIf="requestCount > 0">{{requestCount}}</span> -->
                            </i>
                            <span class="icon-text">Network</span>
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" routerLink="/jobs/job-post-ui"
                            routerLinkActive="active">
                            <i class="fa fa-search"></i>
                            <span class="icon-text">Jobs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/messaging" routerLinkActive="active">
                            <i class="fa fa-commenting"></i>
                            <span class="icon-text">Message</span>
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link perks" [routerLink]="['/perks']" routerLinkActive="active">
                            <i class="fa fa-suitcase"></i>
                            <span class="icon-text">Perks</span>
                        </a>
                    </li>

                    <!-- <li class=" nav-item">
                        <a class="nav-link"
                            [routerLink]="userInfo?.company_id != null ? ['/jobs/job-post'] : ['/jobs/job-post']"
                            routerLinkActive="active">
                            <i class="fa fa-handshake-o"></i>
                            <span class="icon-text">Post Job</span>
                        </a>
                    </li> -->
                    <li class=" nav-item">
                        <a class="nav-link"
                            [routerLink]="userInfo?.company_id != null ? ['/jobs/job-apply'] : ['/jobs/job-apply']"
                            routerLinkActive="active">
                            <i class="fa fa-bell" aria-hidden="true">
                                <span class="badge" *ngIf="requestCount > 0">{{requestCount}}</span>
                            </i>
                            <span class="icon-text"></span>
                        </a>
                    </li>
                    <span class="alg-text" style="width: 120px;">
                        <span class="u-name"><strong>Rushabh Shaha</strong></span>
                        <span class="u-profile">intern</span>
                    </span>
                    <li class="nav-item" class="dropdown">

                        <img class="profile" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true" [src]="userInfo?.profilePicture">

                        <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuButton"
                            style="padding: 10px;">

                            <div class="row">
                                <div class="col-12" style="display: flex;">
                                    <img id="dropdownMenuButton " data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true" [src]="userInfo?.profilePicture">&nbsp;
                                    <div class="pt-2" style="color:black">

                                    </div>
                                </div>
                                <div class="col-8">
                                </div>
                                <div class="col-12" style="text-align: center;">
                                    <button type="button" class="btn btn-block btn-outline-primary btn-sm"
                                        (click)="GoToOwnerProfile()">View Profile</button>
                                </div>
                            </div>
                            <hr>
                            <ul>
                                <li *ngIf="userInfo?.company_id == null" (click)="goToNewCompany()">Create Company
                                </li>
                                <li *ngIf="userInfo?.company_id != null" (click)="goToMyCompany()">My Company
                                </li>
                                <hr>
                                <li (click)="goToPasswordChange()">Password Change</li>
                                <hr>
                                <li *ngIf="userInfo?.typeOfUser == 2" (click)="goToInvestingPage()">Investor Dashboard
                                </li>
                                <hr *ngIf="userInfo?.typeOfUser == 2">
                                <li (click)="logOut()">Sign Out</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- =======================  small screen  ==================================== -->
        <div class="d-block d-sm-none">
            <nav class="navbar fixed-bottom navbar-dark bg-dark text-center">

                <a class="nav-link bottom" routerLink="/home" routerLinkActive="active">
                    <i class="fa fa-home"></i><br>
                    <span>Home</span>
                </a>

                <a class="nav-link bottom" routerLink="/mynetwork" routerLinkActive="active">
                    <i class="fa fa-users">
                        <span class="badge" *ngIf="requestCount > 0">{{requestCount}}</span>
                    </i><br>
                    <span>Network</span>
                </a>
                <a class="nav-link bottom" routerLink="/messaging" routerLinkActive="active">
                    <i class="fa fa-envelope"></i><br>
                    <span>message</span>
                </a>
                <!-- <a class="nav-link bottom" routerLink="/signin" routerLinkActive="active">
                <i class="fa fa-bell"></i><br>
                <span>Notification</span>
            </a> -->
            </nav>
        </div>
    </section>
</header>
<div class="card position" *ngIf="isShow && userList.length > 0">
    <ul>
        <li *ngFor="let item of userList">
            <span *ngIf="item.companyId == null" style="display: flex; padding: 10px;" (click)="selectUser(item.id)">
                <img [src]="item.profile" class="profile" />&nbsp;
                <h6 class="pt-4">{{item.username}}&nbsp;&nbsp;<label>{{item.headline}}</label>
                </h6>
            </span>
            <span *ngIf="item.companyId != null" style="display: flex; padding: 10px;"
                (click)="goToCompany(item.companyId)">
                <img [src]="item.profile" class="company-profile" />&nbsp;
                <h6 class="pt-4">{{item.username}}&nbsp;&nbsp;<label>{{item.headline}}</label>
                </h6>
            </span>
            <hr>
        </li>
    </ul>
</div>