// .bg-primary {
//   background: #293266 !important;
// }
// .bottom {
//   margin-right: 0px !important;
// }
// a:focus {
//   color: white !important;
// }
// .dropdown-menu {
//   font-size: 14px !important;
//   min-width: 20em !important;
//   padding: 10px;
//   li {
//     padding: 5px !important;
//   }
// }
// img {
//   height: 35px;
// }
// .pull-left {
//   right: 0;
//   left: auto;
//   padding-left: 1px;
//   padding-right: 1px;
// }
// hr {
//   margin-bottom: 2px !important;
//   margin-top: 2px !important;
// }
// li {
//   cursor: pointer;
//   padding: 0px !important;
// }
// .nav-custom {
//   top: 0 !important;
// }
// .position {
//   margin: -15px 0px 0px 120px;
//   z-index: 999;
//   position: fixed;
//   width: 50%;
//   height: 500px !important;
//   overflow-y: auto;
// }
// .profile {
//   object-fit: cover;
//   border-radius: 50%;
//   width: 45px;
//   height: 45px;
//   border: 2px solid #ffff;
// }
// .company-profile {
//   object-fit: cover;
//   border-radius: 15%;
//   width: 45px;
//   height: 45px;
//   border: 2px solid #ffff;
// }
// @media (min-width: 576px) {
//   .search {
//     width: 31rem !important;
//   }

//   .position {
//     width: 25%;
//   }
// }
// .badge {
//   position: absolute;
//   border-radius: 50%;
//   width: 20px;
//   height: 20px;
//   padding-top: 6px;
//   border: 1px solid #ffff;
//   background-color: var(--danger);
//   font-size: 8px !important;
//   transform: translate(8px, -27px);
// }
// ::-webkit-scrollbar {
//   width: 1px; /* width of the entire scrollbar */
// }
// @media (max-width: 640px) {
//   .position {
//     margin: -15px 0px 0px 100px;
//   }
//   .badge {
//     transform: translate(-10px, -10px);
//   }
// }

.bg-primary {
  background: #293266 !important;
}
.bottom {
  margin-right: 0px !important;
}
a:focus,a:hover {
  color: #293266 !important;
}
.dropdown-menu {
  font-size: 14px !important;
  min-width: 20em !important;
  padding: 10px;
  li {
    padding: 5px !important;
  }
}
.icon-text {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
}
img {
  height: 35px;
}
.pull-left {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}
hr {
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}
li {
  cursor: pointer;
  padding: 0px !important;
}
.nav-custom {
  top: 0 !important;
}
.position {
  margin: -15px 0px 0px 120px;
  z-index: 999;
  position: fixed;
  width: 50%;
  height: 500px !important;
  overflow-y: auto;
}
.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #ffff;
}
.company-profile {
  object-fit: cover;
  border-radius: 15%;
  width: 45px;
  height: 45px;
  border: 2px solid #ffff;
}
.search{
  // border: 1px solid black;
  border-radius: 50px;
}
@media (min-width: 576px) {
  .search {
    width: 31rem !important;
  }

  .position {
    width: 25%;
  }
}
.badge {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-top: 6px;
  border: 1px solid #ffff;
  background-color: var(--danger);
  font-size: 8px !important;
  transform: translate(8px, -27px);
}
::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
}
@media (max-width: 640px) {
  .position {
    margin: -15px 0px 0px 100px;
  }
  .badge {
    transform: translate(-10px, -10px);
  }
}
.alg-text {
  display: flex;
  flex-direction: column;
  line-height: 13px;
  justify-content: center;
  align-items: flex-end;
}

.u-name {
  letter-spacing: var(--unnamed-character-spacing-0-1);
  color: var(--unnamed-color-171725);
  text-align: left;
  letter-spacing: 0.1px;
  color: #171725;
  opacity: 1;
}
.u-profile {
  // font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    // var(--unnamed-font-size-10) / var(--unnamed-line-spacing-14)
    // var(--unnamed-font-family-poppins);
  // letter-spacing: var(--unnamed-character-spacing-0-07);
  color: var(--unnamed-color-171725);
  text-align: left;
  // font: normal normal 300 10px/14px Poppins;
  font-size: 10px;
  letter-spacing: 0.07px;
  color: #171725;
  opacity: 1;
}

.fa-home{
  height: 14px;
  width: 18px;
}
.fa-users{
  height:14px ;
  width:20px ;
}
.fa-commenting{
  height:11.6px ;
  width:11.34px ;
}
.fa-suitcase{
  height: 14px;
  width:14px ;
}
.fa-bell{
  height: 10px;
  width:10px ;
}
.nav-item:hover{
border-bottom-color:2px solid #293266;
}
