<div>

</div>
<div class="row m-1">
    <div class="col-3 m-2 card suggest" *ngFor="let item of suggestList | paginate: config ;let i = index;"
        [routerLink]="['/profile/timeline']" [queryParams]="{ visit: item.id}">
        <div class="text-right">
            <i class="fa fa-times" (click)="remove(i)"></i>
        </div>
        <div class="text-center">
            <img class="p-3 profile" [src]="item.profilePicture" />
            <h6>{{item.firstName}} {{item.lastName}}</h6>
            <label>{{item.headline}}</label>
        </div>
        <div style="display: flex;">
            <a style="padding-top:12px" href="javascript:void(0)" (click)="sendFollowRquest(item,i)"
                *ngIf="item.isFollowed == null">Follow</a>
            <a style="padding-top:12px" href="javascript:void(0)" (click)="sendUnfollowRquest(item,i)"
                *ngIf="item.isFollowed == 'true'">Unfollow</a>
            &nbsp;
            <button class="btn btn-sm btn-primary" (click)="sendRequest(item,i)">Reach Out</button>
        </div>
    </div>
</div>
<div style="text-align: center;padding: 0.8rem;">
    <pagination-controls (pageChange)="pageChanged($event)">
    </pagination-controls>
</div>