<div class="main">
    <p class="iconClose">
      <i class="fa fa-times" aria-hidden="true" (click)="onNoClick()"></i>
    </p>
    <div class="main-fontInputBox">
      <h4 class="fontInputBox">Upload Another version of your CV?</h4>
    </div>
    <div class="inputBorder">
      <div class="Pcontainer">
        <input
          type="file"
          class="fileUploader"
          #fileInput
          accept="image/*"
          (change)="onChangeFileInput()"
        />
        <button
          mat-raised-button
          style="background-color: white"
          class="file-select-button"
          (click)="onClickFileInputButton()"
          id="btn-attach"
        >
           <!-- <input
        type="file"
        class="fileUploader"
        id="file"
        accept="application/pdf"
        (change)="onChangeFileInput($event)"
      /> -->
      
          <p class="Upload">
            Upload CV<i
              class="fa fa-upload"
              aria-hidden="true"
              style="font-size: 30px"
            ></i>
          </p>
        </button>
        <ng-template #fileName>
          <p class="file-name">{{ file?.name }}</p>
        </ng-template>
      </div>
    </div>
    <hr class="main-fontInputBox color-hr" />
    <div class="main-fontInputBox">
      <p class="fontInputBox">Or choose previously uploaded CV</p>
      <div class="borderInput">
        <span>
          <i class="fa fa-trash" aria-hidden="true"></i> {{ file?.name }}</span>
      </div>
    </div>
    <div class="main-apply main-fontInputBox">
      <p class="apply">Apply</p>
    </div>
  </div>