.mainPagePopup {
  width: 489px;
  height: 297px;
  background: var(--background) 0% 0% no-repeat padding-box;
  background: #f3f2f0 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: 1px solid black;
  padding: 30px;
}

.t-text {
//   color: var(--unnamed-color-2a3363);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2a3363;
}
.charge {
//   color: var(--unnamed-color-2a3363);
  text-align: left;
//   font: normal normal normal 14px/21px Poppins;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #2a3363;
}
