<app-header></app-header>
<section class="container">
    <div class="row">
        <div class="col-md-8 mb-2">
            <invitation></invitation>
            <manage-network class="d-md-none d-sm-block d-md-none" [followersCount]="followrCount"> </manage-network>
            <know-people></know-people>
        </div>
        <div class="d-none d-md-block col-md-4 mb-2">
            <manage-network [followersCount]="followrCount" [networkCount]="networkCount"> </manage-network>
            <suggestion></suggestion>
            <advertisement [image]="add"></advertisement>
        </div>
    </div>
</section>