.bg {
  // background-image: url("../../../../assets/img/timline.jpg");
  border-radius: 6px;
}

.fab-close {
  border: 1px solid;
  border-radius: 50px;
  border: 1px solid;
  border-radius: 50px;
  margin: 5px;
  font-size: 13px;
  padding: 3px;
}
.fab-check {
  border: 1px solid;
  border-radius: 50px;
  border: 1px solid;
  border-radius: 50px;
  margin: 5px;
  font-size: 13px;
  padding: 3px;
}
.btn-1 {
  padding: 10px;
  background: white;
  cursor: pointer;
  color: #293266;
  font-weight: bold;
  border: 1px solid #293266;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 6px;
  padding: 5px 25px 2px 25px;
}
.card {
  border-bottom-left-radius: 6px;
}
.active-link {
  background: #293266;
  border: 1px solid #293266;
  color: white;
  outline: none !important;
  transition: 0.8s all;
}
.inner {
  background: white;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 50px;
}
.custom-padding {
  padding: 10rem 1.3rem 1.5rem !important;
}
.pencil {
  position: absolute;
  width: 25px;
  bottom: 0px;
  right: 25px;
}

.profile-image {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}
.profile {
  object-fit: cover;
  border-radius: 10%;
  width: 150px;
  height: 150px;
  border: 2px solid var(--info);
  position: absolute;
  z-index: 1;
  margin-top: -50px;
  background: white;
}
.profile-edit {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.logo-Image {
  object-fit: cover;
  border-radius: 5px;
  height: 50px;
  border: 1px solid darkgray;
  background: white;
  margin-top: -5px;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}
.work {
  overflow: hidden;
  font-weight: bold;
}
.name_second {
  font-weight: bold;
}
ul {
  padding-inline-start: 0px !important;
}
.connection {
  font-weight: bold;
  color: var(--primary);
  width: 30%;
}
.btn-outline-light {
  border-radius: 20px;
}
@media (max-width: 450px) and (min-width: 300px) {
  .profile {
    bottom: 60%;
  }
}
/* ================================== */
ngb-modal-window {
  .modal-body {
    background: white !important;
  }
  .ngx-photo-editor-icons-container {
    background: white !important;
  }
  .ngx-photo-editor-icons-container > svg {
    fill: black;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
  }
}
.content {
  .profile-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid var(--primary);
  }
  .logo {
    object-fit: cover;
    border-radius: 1%;
    width: 120px;
    height: 120px;
    border: 2px dotted var(--primary);
  }
  .center {
    transform: translate(-35px, -6px);
    position: absolute;
  }
  .fab {
    color: #293266;
  }
  .chip {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
}
