<div class="card p-2">
    <div class="inline">
        <img (click)="selectUser(post.userId)" class="profile pointer" [src]="post.profilePicture"> &nbsp;
        <div (click)="selectUser(post.userId)" class="pointer">
            <h6>{{post.userName}}</h6>
            <label>{{post.title}}</label>
        </div>
        <div class="menu">
            <label>{{post.date | date: 'dd-MMM-yyyy' }}&nbsp;
                {{post.time}}
            </label> &nbsp;
            <i *ngIf="post.userId == userInfo?.id" class="fa fa-ellipsis-v" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-left" style="border-radius:5px ;color: black;"
                aria-labelledby="dropdownMenuButton">
                <ul>
                    <li (click)="deletePost(post.id)">Delete</li>
                    <li (click)="getPost(post,mymodal)">Edit</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <hr class="mt-2 mb-2"> -->
    <div class="content" (click)="hide()">
        <read-more [text]="post.description" [maxLength]="200"></read-more>
        <p></p>

        <div *ngIf="post.image != null" class="text-center">
            <img class="post_image" [src]="post.image" (click)="open(post.image)" />
        </div>
    </div>
    <!-- <hr> -->

    <ul class=" inline">
        <li class="inline">
            <div class="count">{{post.noOfLikes}}</div> &nbsp;
            <div class="circle" [ngClass]="post.isLikedByUser == 'true'?'selected':''" (click)="likePost()"><i
                    [ngClass]="post.isLikedByUser == 'true'?'fa fa-thumbs-up':'fa fa-thumbs-o-up'"></i></div>
        </li>
        <li class="inline">
            <div class="count">{{post.noOfDislikes}}</div> &nbsp;
            <div class="circle" [ngClass]="post.isDislikedByUser == 'true'?'selected':''" (click)="dislikePost()"><i
                    [ngClass]="post.isDislikedByUser == 'true'?'fa fa-thumbs-down':'fa fa-thumbs-o-down'"></i></div>
        </li>
        <li class="inline">
            <div class="count">{{post.commentsOnPostList.length}}</div> &nbsp;
            <div class="circle" [ngClass]="post.commentsOnPostList.length > 0?'selected':''"><i
                    [ngClass]="post.commentsOnPostList.length > 0?'fa fa-comment':'fa fa-comment-o'"></i></div>
        </li>
        <!-- <li class="inline">
            <div class="circle"><i class="fa fa-share-square-o"></i> </div>
        </li> -->
        <!-- <li>
            <div class="circle"><i class="fa fa-comment"></i></div>
        </li>
       -->
    </ul>
    <!-- <hr> -->
    <div class="inline pt-1">
        <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
        <input type="text" (keydown.enter)="addComment()" [(ngModel)]="comment" class="form-control"
            placeholder="Comment..."> &nbsp;

        <i class="fa fa-smile-o cc" (click)="toggleEmoji(2)"></i>
        <emoji-mart style="position: absolute; bottom: -3rem; right: 10px; z-index:9" (emojiSelect)="addEmoji($event)"
            *ngIf="emojiToggled" set="google" sheetSize="32">
        </emoji-mart>
        <div class="circle pt-2" style="color: #293266;">
            <i class="fa fa-paper-plane" aria-hidden="true" *ngIf="this.comment != ''" (click)="addComment()"></i>

        </div>

    </div>
    <div *ngIf="!isShowComment" class="comment-list">
        <comment-list *ngFor="let comment of post.commentsOnPostList" [comment]="comment"></comment-list>
    </div>
    <div *ngIf="isShowComment" class="comment-list">
        <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="onScrollDown()" [scrollWindow]="false"
            [infiniteScrollThrottle]="throttle">
            <comment-list *ngFor="let comment of commentList" [comment]="comment"></comment-list>
        </div>
    </div>

    <button *ngIf="!isShowComment && !this.isLoader" class="comment-btn" (click)="getAllCommentsByPostId(post.id, 0)"><i
            class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;
        Show All</button>
    <button *ngIf="isShowComment && !this.isLoader" class="comment-btn" (click)="hideAllComment()"><i
            class="fa fa-arrow-up" aria-hidden="true"></i> &nbsp; Hide</button>
    <button *ngIf="this.isLoader" class="comment-btn"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        &nbsp;&nbsp;Loading...</button>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="inline">
                <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
                <div>
                    <h6 style="padding-top: 5px;">{{userInfo.firstName}}&nbsp;{{userInfo.lastName}}</h6>
                    <label>{{userInfo.headline}}</label>
                </div>
            </div><br />
            <textarea rows="5" id="description" [(ngModel)]="description" #myTextArea (keyup)="getCaretPos(myTextArea)"
                (click)="getCaretPos(myTextArea)" placeholder="What do you want to share?"></textarea>
            <emoji-mart (emojiSelect)="addEmojiOnPost($event)" *ngIf="postEmojiToggled" set="google" sheetSize="32">
            </emoji-mart>
            <i class="fa fa-smile-o" style="color: darkgray; font-size: 20px;" (click)="toggleEmoji(1)"></i>

            <hr>
            <div>
                <div class="btn-wrap">
                    <button class="btn btn-primary btn-sm img-btn-post" (click)="getImage()"><i class="fa fa-picture-o">
                        </i> &nbsp; Image</button>
                </div>


            </div>
            <div class="image" *ngIf="postImage != '' || postImage != undefined || postImage != null">
                <div class="file_icon">
                    <img class="image_wrapper" id="image" [src]="postImage" /><span><i
                            *ngIf="postImage != null || postImage != ''" (click)="removeImage()"
                            class="fa fa-remove fa-1x fab"></i></span>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updatePostAdd()"
                [disabled]="description == null">Share</button>
        </div>
    </div>
</ng-template>
<button data-target="#editModel" hidden #openModel data-backdrop="static" data-keyboard="false"
    data-toggle="modal"></button>
<input type="file" accept="image/*" hidden #imagePicker (change)="changeListener($event)" />