.bg-light {
  background-image: url("../../../../assets/img/timline.jpg");
  object-fit: cover;
}

.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid var(--primary);
}
.company {
  object-fit: cover;
  border-radius: 5px;
  width: 120px;
  height: 120px;
  border: 2px solid var(--primary);
}
h6 {
  margin-bottom: 2px !important;
}
.li-label {
  font-weight: bold;
  color: rgb(148, 147, 147);
}
li:hover {
  background-color: rgba(233, 230, 230, 0.637);
  cursor: pointer;
}
.count {
  font-weight: bold;
  font-size: 1.3rem;
  color: #293266;
  float: right;
  padding: 3px;
}
