<div class="card p-2">
    <div class="inline">
        <img (click)="selectUser(publish.userId)" class="profile pointer" [src]="publish.profilePicture"> &nbsp;
        <div (click)="selectUser(publish.userId)" class="pointer">
            <h6>{{publish.userName}}</h6>
            <label>{{publish.title}}</label>
        </div>
        <div class="menu">
            <label>{{onChangeDateFormat(publish.date)}}&nbsp;
                {{publish.time}}
            </label> &nbsp;
            <!--   <i *ngIf="publish.userId == userInfo?.id" class="fa fa-ellipsis-v" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-left" style="border-radius:5px ;color: black;"
                aria-labelledby="dropdownMenuButton">
                <ul>
                    <li (click)="deletePost(publish.id)">Delete</li>
                    <li (click)="getPost(publish,mymodal)">Edit</li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="content">
        <read-more [text]="publish.description" [maxLength]="200"></read-more>
        <p></p>

        <div *ngIf="publish.image != null" class="text-center">
            <img class="post_image" [src]="publish.image" (click)="open(publish.image)" />
        </div>
        <div *ngIf="publish.chartUrls != null" class="text-center">
            <div *ngFor="let item of publish.chartUrls">
                <img class="post_image" [src]="item.chartUrl" (click)="openGraph(item)" />
            </div>

        </div>
    </div>

    <ul class="inline">
        <li class="inline">
            <div class="count">{{publish.noOfLikes}}</div> &nbsp;
            <div class="circle" [ngClass]="publish.isLikedByUser == 'true'?'selected':''" (click)="likePost()"><i
                    [ngClass]="publish.isLikedByUser == 'true'?'fa fa-thumbs-up':'fa fa-thumbs-o-up'"></i></div>
        </li>
        <li class="inline">
            <div class="count">{{publish.noOfDislikes}}</div> &nbsp;
            <div class="circle" [ngClass]="publish.isDislikedByUser == 'true'?'selected':''" (click)="dislikePost()"><i
                    [ngClass]="publish.isDislikedByUser == 'true'?'fa fa-thumbs-down':'fa fa-thumbs-o-down'"></i></div>
        </li>
        <li class="inline">
            <div class="count">{{publish.commentsOnPublishtList.length}}</div> &nbsp;
            <div class="circle" [ngClass]="publish.commentsOnPublishtList.length > 0?'selected':''"><i
                    [ngClass]="publish.commentsOnPublishtList.length > 0?'fa fa-comment':'fa fa-comment-o'"></i></div>
        </li>
        <!-- <li class="inline">
            <div class="circle"><i class="fa fa-share-square-o"></i> </div>
        </li> -->
        <!-- <li>
            <div class="circle"><i class="fa fa-comment"></i></div>
        </li>
       -->
    </ul>
    <div class="inline pt-1">
        <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
        <input type="text" (keydown.enter)="addComment()" [(ngModel)]="comment" class="form-control"
            placeholder="Comment..."> &nbsp;

        <i class="fa fa-smile-o cc" (click)="toggleEmoji(2)"></i>
        <emoji-mart style="position: absolute; bottom: -3rem; right: 10px;z-index:9" (emojiSelect)="addEmoji($event)"
            *ngIf="emojiToggled" set="google" sheetSize="32">
        </emoji-mart>
        <div class="circle pt-2" style="color: #293266;">
            <i class="fa fa-paper-plane" aria-hidden="true" *ngIf="this.comment != ''" (click)="addComment()"></i>

        </div>

    </div>
    <div *ngIf="!isShowComment" class="comment-list">
        <comment-list *ngFor="let comment of publish.commentsOnPublishtList" [comment]="comment"></comment-list>
    </div>
    <div *ngIf="isShowComment" class="comment-list">
        <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance" (scrolled)="onScrollDown()" [scrollWindow]="false"
            [infiniteScrollThrottle]="throttle">
            <comment-list *ngFor="let comment of commentList" [comment]="comment"></comment-list>
        </div>
    </div>

    <button *ngIf="!isShowComment && !this.isLoader" class="comment-btn"
        (click)="getAllCommentsByPublishId(publish.id, 0)"><i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp;
        Show All</button>
    <button *ngIf="isShowComment && !this.isLoader" class="comment-btn" (click)="hideAllComment()"><i
            class="fa fa-arrow-up" aria-hidden="true"></i> &nbsp; Hide</button>
    <button *ngIf="this.isLoader" class="comment-btn"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        &nbsp;&nbsp;Loading...</button>
</div>
<!-- <div *ngIf="publish.image != null" class="text-center">
    <img class="post_image" [src]="publish.image" (click)="open(publish.image)" />
</div>
<div *ngIf="publish.chartUrls != null" class="text-center">
    <div *ngFor="let item of publish.chartUrls">
        <img class="post_image" [src]="item.chartUrl" (click)="openGraph(item)" />
    </div> -->

<!-- <ng-template #mymodal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Create new post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="inline">
                <img class="profile" [src]="userInfo?.profilePicture" /> &nbsp;
                <div>
                    <h6 style="padding-top: 5px;">{{userInfo.firstName}}&nbsp;{{userInfo.lastName}}</h6>
                    <label>{{userInfo.headline}}</label>
                </div>
            </div><br />
            <textarea rows="5" id="description" [(ngModel)]="description"
                placeholder="What do you want to share?"></textarea>
            <emoji-mart (emojiSelect)="addEmojiOnPost($event)" *ngIf="postEmojiToggled" set="google" sheetSize="32">
            </emoji-mart>
            <hr>
            <div style="display: flex;">
                <label>Add:</label>&nbsp;
                <i class="fa fa-smile-o" style="color: darkgray; font-size: 20px;" (click)="toggleEmoji(1)"></i>
                &nbsp; &nbsp;
                <i style="flex: 0.9;" class="fa fa-picture-o fileItemStyle" aria-hidden="true" (click)="getImage()">
                </i>
                <i *ngIf="postImage != undefined || postImage != ''" (click)="removeImage()"
                    class="fa fa-remove fa-1x fab"></i>

            </div>
            <div class="image" *ngIf="postImage != undefined || postImage != null">
                <div class="file_icon">
                    <img class="image_wrapper" id="image" [src]="postImage" />
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updatePostAdd()"
                [disabled]="description == null">Share</button>
        </div>
    </div>
</ng-template> -->
<button data-target="#editModel" hidden #openModel data-backdrop="static" data-keyboard="false"
    data-toggle="modal"></button>
<input type="file" accept="image/*" hidden #imagePicker (change)="changeListener($event)" />