.bg {
  // background-image: url("../../../../assets/img/timline.jpg");
  border-radius: 6px;
}
.btn-1 {
  padding: 10px;
  background: white;
  cursor: pointer;
  color: #293266;
  font-weight: bold;
  border: 1px solid #293266;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 6px;
  padding: 5px 25px 2px 25px;
}
.card {
  border-bottom-left-radius: 6px;
}
.active-link {
  background: #293266;
  border: 1px solid #293266;
  color: white;
  outline: none !important;
  transition: 0.8s all;
}
.company_logo {
  object-fit: cover;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
}
.company_name {
  font-size: 16px;
  font-weight: bold;
  color: #293266;
}
.inner {
  background: white;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pencil {
  position: absolute;
  width: 25px;
  bottom: 0px;
  right: 25px;
}

.profile-image {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}
.profile {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #ffff;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}
.work {
  overflow: hidden;
  font-weight: bold;
}
.name_second {
  font-weight: bold;
}
ul {
  padding-inline-start: 0px !important;
}
.connection {
  font-weight: bold;
  color: var(--primary);
  width: 30%;
}
.btn-outline-light {
  border-radius: 20px;
}
.profile-edit {
  position: absolute;
  left: 0;
}
.publish {
  font-size: 60px;
  border: 3px dotted darkgray;
  flex: 1;
  text-align: center;
  color: darkgray;
  margin: 0px 45px 15px 45px;
  cursor: pointer;
}
.publish:hover {
  color: var(--primary);
  border: 3px dotted var(--primary);
  transition: 0.8s all;
}
@media (max-width: 450px) and (min-width: 300px) {
  .profile {
    bottom: 60%;
  }
}
/* ================================== */
ngb-modal-window {
  .modal-body {
    background: white !important;
  }
  .ngx-photo-editor-icons-container {
    background: white !important;
  }
  .ngx-photo-editor-icons-container > svg {
    fill: black;
  }
}
