<div class="jobPostTitle">
  <p class="title-main">Job Posts</p>
</div>
<div class="main_page_holder">
  <div class="mainPage">
    <div class="innter-main">
      <div>
        <p class="title-of-card"> Post New Internship</p>
        <p>publish your job Post to thousands of</p>
        <p>students across the world</p>

      </div>
      <i class='fas fa-angle-double-right' id="icon-w"></i>
    </div>
  </div>




  <div class="mainPage" *ngFor="let jobList of jobPostList">
    <div class="active-d">
      <div class="parantOfActive">
        <!-- <span> </span> -->
        <span></span>
        <span class="title-active">Active Job Post</span>
        <span class="title-active2">View Candidates</span>
      </div>
    </div>
    <div class="paddtion-from-top">
      <div class="dFlex">
        <div class="img-title">
          <img src="assets/Screenshot 2022-03-15 204058.png" alt="" class="img-c" />
          <div class="text-seq">
            <span class="text-c"> {{jobList.jobTitle?jobList.jobTitle:' Designer'}} </span>
            <span class="text-c2"> {{jobList.company ?jobList.company:'FindingPi Incorporations'}} </span>
            <span class="dayCount"> {{jobList.duration?jobList.duration:'2'}} day ago |
              {{jobList.noOfApplication?jobList.noOfApplication:'30'}} Applicants</span>
            <span style="font-size: 14px"><span class="job">Job category &nbsp;*&nbsp;
              </span><u>{{jobList.jobCategeory?jobList.jobCategeory:'E-commerce'}}</u>,
              <u>Design</u></span>
          </div>
        </div>
        <div class="alignBtn">
          <!-- <button > Apply now</button> -->
          <button type="button" class="one" (click)="opendia12()">
            Deactivate
          </button>
          <button type="button" class="two">
            Edit
          </button>
        </div>
      </div>
      <div class="title-div">
        <div>
          <span class="t-e"> Location</span>
          <span class="bold-t"> {{jobList.location?jobList.location:'Pune'}} </span>
        </div>

        <div>
          <span class="t-e"> Star Date</span>
          <span class="bold-t"> {{jobList.startDate?jobList.startDate:'14/04/2022'}} </span>
        </div>

        <div>
          <span class="t-e"> Employee Type</span>
          <span class="bold-t">  {{jobList.typeofJob?jobList.typeofJob:'Full Time Job'}}</span>
        </div>

        <div>
          <span class="t-e"> Stipend</span>
          <span class="bold-t"> 2150,0 /Month</span>
        </div>
        <div>
          <span class="t-e"> Duration</span>
          <span class="bold-t"> {{jobList.duration?jobList.duration:'6'}} Month</span>
        </div>
      </div>
    </div>
  </div>
</div>