.main {
    max-width: 600px;
    max-height: 380px;
    //   margin-top: 100px;
    // height: 360px;
    margin-bottom: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 30px 30px 60px 30px;
    text-align: justify;
    opacity: 1;
    position: relative;
    top: 150px;
    left: 250px;
  }
  
  .text-p {
    // width: 435px;
    // height: 202px;
    //   font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/25px var(--unnamed-font-family-poppins);
    //   letter-spacing: var(--unnamed-character-spacing-0);
      // text-align: left;
    //   font: normal normal normal 16px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 500;
    //   border: 1px solid black;
    opacity: 1;
  }
  .main-t {
    text-align: center;
  }
  .content {
    text-align: center;
    height: 100%;
    margin: 0 auto;
    padding-left: 30px;
    text-align: left;
  }
  .btn-s {
    width: 92px;
    height: 34px;
    color: white;
    /* UI Properties */
    background: var(--theme) 0% 0% no-repeat padding-box;
    background: #293266 0% 0% no-repeat padding-box;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .makeCenter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  @media only screen and (max-width: 600px) {
    .main {
      max-width: 800px;
      // height: 360px;
      margin: 0 auto;
      /* UI Properties */
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 20px;
      padding: 30px 30px 60px 30px;
      text-align: justify;
      opacity: 1;
    }
    .makeCenter {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  
    .btn-s {
      width: 92px;
      height: 34px;
      color: white;
      /* UI Properties */
      display: flex;
      justify-content: center;
      background: var(--theme) 0% 0% no-repeat padding-box;
      background: #293266 0% 0% no-repeat padding-box;
      border-radius: 19px;
      align-items: center;
    }
  }