<div class="card">
    <div class="bg" [style.background-image]="timelineImage">
        <div class="inner">
            <div class="profile-image">
                <img class="profile" [src]="companyDetail?.logo">
            </div>
            <div class="custom-padding">
                <div class="row">
                    <div class="col-8">
                        <div class="name" style="display: inline-flex;">{{companyDetail?.name}}
                            ({{companyDetail?.company_type}})&nbsp; <h6 data-toggle="tooltip" data-placement="right"
                                title="Not Verified" style="color: #F0541E;"
                                *ngIf="companyDetail?.isVerified == 'false'"><i
                                    class="fa fa-exclamation-circle"></i>&nbsp;

                            </h6>
                            <h6 data-toggle="tooltip" data-placement="right" title="Verified" style="color: #009944;"
                                *ngIf="companyDetail?.isVerified == 'approved'"><i class="fa fa-check-circle"
                                    aria-hidden="true"></i>
                                &nbsp;
                            </h6>
                        </div>
                        <div>
                            <a href="//{{companyDetail?.websiteLink}}" target="_blank"
                                class="connection">{{companyDetail?.websiteLink}}</a>
                        </div>
                        <span class="name_second">{{companyDetail?.industry}}</span>
                        <div>
                            <span>{{companyDetail?.city}},
                                {{companyDetail?.state}},{{companyDetail?.country}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: inline-flex;">
                <div class="btn-1" routerLink="./publish" [queryParams]="{companyId:companyDetail?.id}"
                    routerLinkActive="active-link">Updates</div> &nbsp;
                <div class="btn-1" routerLink="./detail" [queryParams]="{companyId:companyDetail?.id}"
                    routerLinkActive="active-link">About</div>&nbsp;
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>