<div class="card p-4">
    <div class="row">
        <div class="col-11">
            <h5>Description </h5>
        </div>
        <div class="col-1">
            <img *ngIf="userDetail?.company_id == companyDetail?.id" class="pencil" src="assets/logo/pen.svg"
                data-target="#aboutModel" data-toggle="modal" style="width: 25px;">
        </div>
    </div>
    <div>
        <pre class="break-line">{{companyDetail?.description}}</pre>
    </div>
    <div *ngIf="companyDetail?.services?.length > 0">
        <div class="row">
            <div class="col-11">
                <h5>Services</h5>
            </div>
        </div>
        <div>
            <div class="chip" *ngFor="let item of companyDetail?.services">
                {{item}}
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-11">
                <h5>Social Media URL.</h5>
            </div>
        </div>
        <div>
            <div>
                <a href="//{{companyDetail?.profile_url}}" target="blank">{{companyDetail?.profile_url}}</a>
            </div>
        </div>
    </div>
</div>

<!-- ================ About Model ======================= -->
<div class="modal fade" id="aboutModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div class="modal-Custheader p-2">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Update Company Information</h6>
                </div>
                <div>
                    <form [formGroup]="companyUpdateForm">
                        <div class="row pt-2">
                            <div class="col col-md-12">
                                <label>Short Description <span class="mandatory">*</span></label>
                                <textarea class="form-control description" cols="10" placeholder="description"
                                    formControlName="description"></textarea>
                                <small class="text-danger"
                                    *ngIf="companyUpdateForm.get('description').invalid && companyUpdateForm.get('description').touched">Enter
                                    Short Description</small>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col col-md-6">
                                <label>Email <span class="mandatory">*</span></label>
                                <input class="form-control" placeholder="Enter Email" formControlName="contactEmail">
                                <small class="text-danger"
                                    *ngIf="companyUpdateForm.get('contactEmail').invalid && companyUpdateForm.get('contactEmail').touched">Enter
                                    Valid Email id.</small>
                            </div>
                            <div class="col col-md-6">
                                <label>Social Media URL<span class="mandatory">*</span></label>
                                <input class="form-control" placeholder="Enter Email" formControlName="profile_url">
                                <small class="text-danger"
                                    *ngIf="companyUpdateForm.get('profile_url').invalid && companyUpdateForm.get('profile_url').touched">Enter
                                    Valid Social Media URL.</small>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col col-6">
                                <label>Services</label>
                                <input class="form-control" placeholder="Enter Service" formControlName="services">

                            </div>
                            <div class="col col-2 pt-4">
                                <label></label>
                                <button class="btn btn-secondary" (click)="addService()">Add</button>
                            </div>
                            <div class=" col col-md-12 pt-5">
                                <div class="chip" *ngFor="let item of serviceList;let i = index;">
                                    {{item}} &nbsp; <i class="fa fa-times" aria-hidden="true"
                                        (click)="removeTag(i)"></i>
                                </div> &nbsp;
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-5" (click)="onSubmit()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>