.pencil {
  cursor: pointer;
}
.break-line {
  font-size: 14px;
}
ul.bullets {
  list-style-type: circle;
}
.description {
  min-height: 125px;
}
.chip {
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  margin: 2px;
  border: 1px solid var(--primary);
  background-color: #f1f1f1;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
  }
}
