li {
  display: inline-flex;
}
img {
  max-width: 75px;
  padding-left: 10px;
  padding-right: 10px;
}
.count_class {
  display: inline-flex;
}
.reedem {
  margin-left: 60px;
}
.amount {
  color: #293266;
  font-weight: bold;
  font-size: 18px;
}
.modal-dialog {
  margin-top: 12rem !important;
}
