.main {
  top: 200px;
  left: 300px;
  width: 600px;
  height: 353px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 20px;
  opacity: 1;

  .row-1 {
    width: 506px;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
      var(--unnamed-line-spacing-21) var(--unnamed-font-family-poppins-semibold);
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--unnamed-color-2a3363);
    text-align: left;
    font: normal normal normal 14px/21px Poppins-SemiBold;
    letter-spacing: 0.1px;
    color: #2a3363;
    padding: 36px;
  }
}
.card-body .btn {
    position: absolute;
  top: 300px;
  left: 200px;
  width: 142px;
  height: 38px;
}
