<section class="pwd-page">
    <div class="container" *ngIf="state == 1">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 ">
                <h2 *ngIf="!isPwdChange">Forget Your Password</h2>
                <h2 *ngIf="isPwdChange">Change Your Password</h2>

                <div class="theme-form text-center">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" [(ngModel)]="emailId" class="form-control" id="email"
                                placeholder="abc@domain.com" required="">

                            <button *ngIf="!isLoading" class="btn btn-primary" (click)="generate()">Generate
                                OTP</button>
                            <button *ngIf="isLoading" class="btn btn-primary"><i class="fa fa-spinner fa-spin"
                                    aria-hidden="true"></i> &nbsp;&nbsp;Loading...</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <a routerLink="/account/login">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="state == 2">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Enter Your OTP</h2>
                <div class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control otp" style="font-size: large; font-weight: bold;"
                                [(ngModel)]="otp" placeholder="******">
                            <button *ngIf="!isLoading" class="btn btn-primary" (click)="goToReset()">Verify OTP</button>
                            <button *ngIf="isLoading" class="btn btn-primary"><i class="fa fa-spinner fa-spin"
                                    aria-hidden="true"></i> &nbsp;&nbsp;Loading...</button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <a (click)="backToGenerate();">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" *ngIf="state == 3">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Register New Password</h2>
                <form class="theme-form" [formGroup]="resetForm" (ngSubmit)="resetPassword();">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label>New Password &nbsp; <i class="fa"
                                    [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType }"
                                    (click)="toggleFieldTextType()"></i></label><br />
                            <small
                                [class.d-none]="resetForm.get('newPassword').valid || resetForm.get('newPassword').untouched"
                                class="text-danger">Invalid! at least one number.</small>
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                formControlName="newPassword" placeholder="****">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label>Confirm Password </label><br />
                            <small
                                [class.d-none]="resetForm.get('confirmPassword').valid || resetForm.get('confirmPassword').untouched"
                                class="text-danger">Invalid! at least one number.</small>
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                formControlName="confirmPassword" placeholder="****">
                        </div>

                    </div>
                    <button type="submit" *ngIf="!isLoading" class="btn btn-primary"
                        [disabled]=" !resetForm.valid">Confirm</button>
                    <button *ngIf="isLoading" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                            aria-hidden="true"></i> &nbsp;&nbsp;Loading...</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->