<div class="main">
    <p style="text-align: right;">
        <!-- <i class="fa fa-times" aria-hidden="true" ></i> -->
        <i class="fa fa-times" aria-hidden="true" (click)="onNoClick()"></i>
    </p>

    <div class="content">
        <p class="text-p">Are You Sure you want to deactivate this job post for java Developer</p>
        <div class="buttons-dev">
            <button class="deactivateBtn">Deactivate</button>
            <button class="cancel" (click)="onNoClick()"> Cancel</button>
        </div>
    </div>
</div>