/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "~bs-stepper/dist/css/bs-stepper.min.css";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
// @import "~@ctrl/ngx-emoji-mart/picker";

// importing fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body { height: 100%; }
body { 
  margin: 0; 
  // font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.backdropBackground {
    background: transparent linear-gradient(122deg, #d5d5dc66 0%, #d5d5dc30 100%)
      0% 0% no-repeat padding-box;
    box-shadow: 15px 15px 50px #ffffff29;
    border: 1px solid #ffffff40;
    opacity: 1;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .navbarColor{
    background-color: #FFFFFF;  
   }
  @media (min-width: 1200px) {
    .auth-wrapper .container {
      max-width: 1280px !important;
    }

    .disclaimer{
      display: none !important
  }
}
::placeholder{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color:#D5D5DC;
  opacity: 1;
}
*{
  font-family: 'Poppins','sans-serif';
}