<app-header></app-header>
<section class="container">
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="card p-2">
                <div class="inline">
                    <h6 class="header">Followers and Following</h6>
                </div>

                <div class="tabs">
                    <a href="javascript:void(0)" [ngClass]="selectedType == 1 ? 'tab' : null"
                        (click)="selectType(1)">Followers</a>&nbsp;
                    <a href="javascript:void(0)" [ngClass]="selectedType == 2 ? 'tab' : null"
                        (click)="selectType(2)">Following</a>
                    <hr class="line">
                </div>
                <div *ngIf="followerList.length > 0 && selectedType == 1">
                    <ul>
                        <li *ngFor="let item of followerList;let i = index">
                            <div class="inline">
                                <img class="profile"
                                    [src]="item.profilePic != null ? item.profilePic:'assets/logo/profile_avater.png'">
                                &nbsp;
                                <div>
                                    <a [routerLink]="['/profile/timeline']" [queryParams]="{ visit: item.userId}">
                                        <h6>{{item.firstName}} {{item.lastName}}</h6>
                                        <label>{{item.headline}}</label>
                                    </a>
                                </div>
                                <div class="menu">
                                    <button class="btn btn-outline-primary btn-sm" *ngIf="item.isFollowed == null"
                                        (click)="sendFollowBack(item,i)">Follow Back</button>
                                </div>
                            </div>
                        </li>
                        <hr>
                    </ul>
                </div>
                <div *ngIf="followingList.length > 0 && selectedType == 2">
                    <ul>
                        <li *ngFor="let item of followingList;let i = index">
                            <div class="inline">
                                <img class="profile"
                                    [src]="item.profilePic != null ? item.profilePic:'assets/logo/profile_avater.png'">
                                &nbsp;
                                <div>
                                    <a [routerLink]="['/profile/timeline']" [queryParams]="{ visit: item.userId}">
                                        <h6>{{item.firstName}} {{item.lastName}}</h6>
                                        <label>{{item.headline}}</label>
                                    </a>
                                </div>
                                <div class="menu">
                                    <button class="btn btn-outline-primary btn-sm" *ngIf="item.isFollowed == 'true'"
                                        (click)="unfollowRequest(item,i)">Unfollow</button>
                                </div>
                            </div>
                        </li>
                        <hr>
                    </ul>
                </div>


            </div>
        </div>
        <div class="col-md-4 mb-2">
            <manage-network [followersCount]="followerList.length"></manage-network>
            <suggestion></suggestion>
        </div>
    </div>
</section>