.main_page_holder {
    // border: 1px solid black;
    //   max-width: 976px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .jobPostTitle {
    display: flex;
    display: flex;
    justify-content: space-between;
    
    //   width: 976px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .mainPage {
    background-color: white;
    width: 615px;
    height: 186px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title-main {
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--unnamed-color-171725);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.1px;
    color: #171725;
    opacity: 1;
    margin: auto 0;
  }
  .active-d {
    // width: 616px;
    height: 24px;
    /* UI Properties */
    background: #69f0ae 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
  }
  .parantOfActive {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-right: 5px;
    span {
      width: 200px;
    }
  }
  .title-active {
    text-align: center;
    font-weight: 700;
    color: var(--unnamed-color-2a3363);
    text-align: center;
    letter-spacing: 0.1px;
    color: #2a3363;
    opacity: 1;
  }
  .title-active2 {
    text-align: end;
    margin-right: 5px;
    font-size: 10px;
  
    text-decoration: underline;
    font-weight: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  
  .select {
    padding: 8px 12px;
  }
  .dayCount {
    color: var(--unnamed-color-44444f);
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #44444f;
    opacity: 1;
  }
  .innterHolder-seq {
    display: flex;
    flex-direction: column;
    line-height: 23px;
  }
  .alignBtn {
    //   border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    .one {
      width: 142px;
      height: 38px;
      background: var(--theme) 0% 0% no-repeat padding-box;
      background: #293266 0% 0% no-repeat padding-box;
      border-radius: 19px;
      opacity: 1;
      background-color: rgb(29, 31, 58);
      border: 1px solid rgb(29, 31, 58);
      // padding: 5px 12px 5px 12px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .two {
      width: 142px;
      height: 38px;
      background: var(--theme) 0% 0% no-repeat padding-box;
      background: #293266 0% 0% no-repeat padding-box;
      border-radius: 19px;
      opacity: 1;
      color: rgb(29, 31, 58);
  
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(29, 31, 58);
      // padding: 5px 12px 5px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .tBtn {
    width: 142px;
    height: 38px;
    background: var(--theme) 0% 0% no-repeat padding-box;
    background: #f44336 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    background-color: #f44336;
    border: 1px solid #f44336;
    padding: 5px 12px 5px 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dFlex {
    display: flex;
    justify-content: space-between;
  }
  .img-title {
    display: flex;
    width: 615px;
    line-height: 18px;
  }
  .select-seq {
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
    }
  }
  .main-seq-nav {
    width: 90%;
    display: flex;
    gap: 50px;
    justify-content: end;
  }
  .btn-t {
    width: 142px;
    height: 38px;
    background: var(--theme) 0% 0% no-repeat padding-box;
    background: #293266 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 10px 15px 10px 15px;
  }
  #icon-w {
    font-size: 48px;
    color: #293266;
  }
  .title-of-card {
    font-size: 20px;
    font-weight: 800;
  }
  .innter-main {
    display: flex;
    line-height: 10px;
    align-items: center;
    vertical-align: center;
    height: 200px;
    letter-spacing: 0px;
    justify-content: space-around;
    background: #ebebff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
  .img-c {
    width: 116px;
    height: 116px;
    margin-right: 20px;
  }
  .text-c {
    letter-spacing: var(--unnamed-character-spacing-0-1);
    color: var(--unnamed-color-171725);
    text-align: left;
    letter-spacing: 0.1px;
    color: #171725;
    font-size: 20px;
    opacity: 1;
    font-weight: 600;
  }
  #applay {
    border-radius: 10px;
    //   border: 1px solid black;
  }
  .text-c2 {
    font-size: 14px;
    font-weight: 500;
  }
  .text-seq {
    display: flex;
    font-size: 14px;
    // gap: 3px;
    font-family: Poppins-Regular;
    width: 100%;
    flex-direction: column;
  }
  .holder-seq {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .paddtion-from-top {
    padding: 10px;
    //   margin-top: 13px;
    margin: 14px;
  }
  .title-div {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      .bold-t {
        font-size: 12px;
        color: rgb(85, 85, 85);
        font-weight: 600;
      }
      .t-e {
        font-size: 10px;
        color: rgb(159, 160, 161);
      }
    }
  }
  .job {
    font-weight: 600;
  }
  .title-div {
    //   border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  